[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
azure-storage-blob = "*"
Django = "*"
django-mssql-backend = "*"
django-sendgrid-v5 = "*"
django-storages = "*"
gunicorn = "*"
PyYAML = "*"
stripe = "*"

[requires]
python_version = "3.7"
