[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
azure-common = "*"
azure-storage-blob = "==2.1.0"
Django = ">=3.0.10,<3.1.0"
django-mssql-backend = "*"
django-otp = "*"
django-otp-agents = "*"
django-otp-yubikey = "*"
django-sendgrid-v5 = "*"
django-storages = "*"
django-user-agents = "*"
gunicorn = "*"
PyYAML = "*"
phonenumbers = "*"
qrcode = "*"
stripe = "*"

[requires]
python_version = "3.7"
