[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
azure-common = "*"
azure-storage-blob = "==2.1.0"
blackfire = "*"
Django = ">=3.0.10,<3.1.0"
django-duo-auth = "*"
django-mssql-backend = "*"
django-sendgrid-v5 = "*"
django-storages = "*"
django-user-agents = "*"
gunicorn = "*"
stripe = "*"

[requires]
python_version = "3.7"
