$color-grayscale-title-active: rgba(20,20,43,1);
$color-grayscale-body: rgba(78,75,102,1);
$color-grayscale-label: rgba(110,113,145,1);
$color-grayscale-placeholder: rgba(160,163,189,1);
$color-grayscale-line: rgba(214,216,231,1);
$color-grayscale-input-background: rgba(239,240,246,1);
$color-grayscale-background: rgba(247,247,252,1);
$color-grayscale-off-white: rgba(252,252,252,1);
$color-primary-default: rgba(95,46,234,1);
$color-secondary-default: rgba(28,200,238,1);
$color-success-default: rgba(0,186,136,1);
$color-error-default: rgba(237,46,126,1);
$color-warning-default: rgba(244,183,64,1);
$color-primary-light: rgba(222,211,255,1);
$color-primary-dark: rgba(42,0,162,1);
$color-secondary-light: rgba(213,247,255,1);
$color-secondary-dark: rgba(0,150,183,1);
$color-error-light: rgba(255,242,247,1);
$color-error-dark: rgba(195,0,82,1);
$color-success-light: rgba(243,253,250,1);
$color-success-dark: rgba(0,150,109,1);
$color-warning-light: rgba(255,240,212,1);
$color-warning-dark: rgba(162,107,0,1);
@mixin font-desktop-display-large-bold {
	font-size:64px;
	font-family:"Poppins";
	font-weight:bold;
	line-height:66px;
}
@mixin font-desktop-display-medium-bold {
	font-size:48px;
	font-family:"Poppins";
	font-weight:bold;
	line-height:50px;
}
@mixin font-desktop-display-small-bold {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 34px;
	letter-spacing: 1px;
}
@mixin font-desktop-display-large {
	font-size:64px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:66px;
}
@mixin font-desktop-display-medium {
	font-size:48px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:50px;
}
@mixin font-desktop-display-small {
	font-size:32px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:34px;
}
@mixin font-desktop-text-large {
	font-size:24px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:38px;
}
@mixin font-desktop-text-medium {
	font-size:18px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:34px;
}
@mixin font-desktop-text-small {
	font-size:16px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:28px;
}
@mixin font-desktop-text-x-small {
	font-size:14px;
	font-family:"Poppins";
	font-weight:medium;
	line-height:24px;
}
@mixin font-desktop-link-large {
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 38px;
	letter-spacing: 0.75px;
	color: $color-grayscale-title-active;
}
@mixin font-desktop-link-medium {
	font-size:18px;
	font-family:"Poppins";
	font-weight: 600;
	letter-spacing: 0.75px;
	font-style: normal;
	line-height:34px;
}
@mixin font-desktop-link-small {
	font-size:16px;
	font-family:"Poppins";
	line-height:28px;
}
@mixin font-desktop-link-x-small {
	font-size:14px;
	font-family:"Poppins";
	line-height:24px;
}
@mixin font-mobile-display-large-bold {
	font-size:48px;
	font-family:"Poppins";
	font-weight:bold;
	line-height:50px;
}
@mixin font-mobile-display-medium-bold {
	font-size:32px;
	font-family:"Poppins";
	font-weight:bold;
	line-height:36px;
}
@mixin font-mobile-display-small-bold {
	font-size:24px;
	font-family:"Poppins";
	font-weight:bold;
	line-height:32px;
}
@mixin font-mobile-display-large {
	font-size:48px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:50px;
}
@mixin font-mobile-display-medium {
	font-size:32px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:36px;
}
@mixin font-mobile-display-small {
	font-size:24px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:32px;
}
@mixin font-mobile-text-large {
	font-size:20px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:32px;
}
@mixin font-mobile-text-medium {
	font-size:16px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:28px;
}
@mixin font-mobile-text-small {
	font-size:14px;
	font-family:"Poppins";
	font-weight:normal;
	line-height:24px;
}
@mixin font-mobile-text-x-small {
	font-size:13px;
	font-family:"Poppins";
	font-weight:medium;
	line-height:22px;
}
@mixin font-mobile-link-large {
	font-size:20px;
	font-family:"Poppins";
	line-height:32px;
}
@mixin font-mobile-link-medium {
	font-size:14px;
	font-family:"Poppins";
	line-height:26px;
}
@mixin font-mobile-link-x-small {
	font-size:13px;
	font-family:"Poppins";
	font-weight:semibold;
	line-height:22px;
}

.input_background {
	background: $color-grayscale-input-background;
	border-radius: 16px;
}

.link_large {
	@include font-desktop-link-large;
}

.text_extra_small {
	@include font-desktop-text-x-small;
	color: $color-grayscale-body;
}

.link_medium {
	@include font-desktop-link-medium;
	color: $color-grayscale-title-active;
}

.display_small_bold {
    @include font-desktop-display-small-bold;
    color: $color-grayscale-title-active;
}

#login_box {
    position: absolute;
    left: 37.5%;
    right: 37.5%;
    top: 31.25%;
    bottom: 31.25%;
    background: #E0E0E0;
    border-radius: 32px;
    filter: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
}

#login_header {
    position: absolute;
    left: 41.51%;
    right: 49.53%;
    top: 37.42%;
    bottom: 59.77%;
}

#login_username {
    position: absolute;
    left: 41.51%;
    right: 41.56%;
    top: 42.81%;
    bottom: 52.19%;
    border-radius: 16px;
}

#mail_icon_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 0px 0px 24px;

    position: absolute;
    width: 72px;
    height: 68px;
    left: 0px;
    top: calc(50% - 68px/2);
}

#username_field {
    position: absolute;
    width: 253px;
    height: 64px;
    left: 72px;
    top: calc(50% - 64px/2);
    border-radius: 16px;
}

#email_text {
    position: absolute;
    width: 42px;
    height: 24px;
    left: 0px;
    top: 6px;
}
