<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Voice Marketplace</title>{% endblock %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<body>
  {% block sidebar %}
    {% if user.is_authenticated %}
      <div class="sidebar">
        <h1 class="text_large" id="username_text">User: {{ user.get_username }}</h1>
        <h1 class="link_large" id="logout_link"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></h1>
        <h1 class="link_large" id="home_link"><a href="{% url 'index' %}">Home</a></h1>
        <h1 class="link_large" id="synthesize_speech_link"><a href="{% url 'synthesize/index'%}">Synthesize Speech</a></h1>
        <h1 class="link_large" id="marketplace_link">Marketplace</h1>
        <h1 class="link_large" id="record_voice_link"><a href="{% url 'create_voice/index'%}">Record Voice</a></h1>
      </div>
    {% endif %}
  {% endblock %}
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
